
.image { 
	width: 500px;
	height: 380px;
}

.title {
	font-size: 50px;
	text-align: center;
}
.form-group {
 	width: 60%;
 	margin-left: 20%;
}

.button-submit{
	margin-right: 120px;
    margin-left: 20px;
}



