
.image { 
	width: 500px;
	height: 380px;
}

.title {
	font-size: 50px;
	text-align: center;
}
.form-group {
 	width: 60%;
 	margin-left: 20%;
}

.singup-button{
	background: #e6932b;
    color: white;
}

.singup-button:hover{
	background: #e6932b;
    color: white;
}



