.image { 
	width: 500px;
	height: 500px;
}

.title {
	font-size: 50px;
	text-align: center;
}
.form-group {
 	width: 60%;
 	margin-left: 20%;
}

.button-submit{
	margin-right: 120px;
    margin-left: 20px;
}


.blog_name {
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}

.blog_image {
	margin-top: 60px;
	float: right;
	width: 100px;
	height: 100px;
}

.blog_title {
	margin-top: 20px;
	font-size: 25px;
	font-family: bold;
	font-weight: 500px;
}

.mt40{
	margin-top: 40px;
}

.boby-baground{
	background-color: #a8e7eaed;
	min-height: 100vh;
}

.header-text{
	text-align: center;
    color: #197c8c;
}

.singup-button{
	background: #e6932b;
    color: white;
}

.singup-button:hover{
	background: #e6932b;
    color: white;
}